@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart";
}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-2"></div>
    <div class="col-xs-12 col-sm-8 col-md-7">
        <h1>My Shopping Cart</h1>
        <div class="table-responsive table-responsive-mobile">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th align="right">Price</th>
                        <th align="right">Amount</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr id="cartItemId">
                            @{
                                await Html.RenderPartialAsync("_CartItemPartial", item);
                            }
                        </tr>
                    }
                    <tr>
                        <td colspan="4" align="right"><strong>Total Amount: <br></strong></td>
                        <td align="right"><strong>@Html.DisplayFor(modelItem => Model.Amount)</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-3"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
        function updateItemsInCart(items) {
            document.getElementById("items-in-cart").innerHTML = items;
    };
    function deleteItem(id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteCartItem", "Cart")",
            data: { "id": id },
            success: function (result) {
                $("body").html(result);
            }
        });
    }

        $(".change-quantity").change(function () {
            var id;
            var productId;
            var quantity;
            var arr = [];

            $(this).children("input").each(function () {
                arr.push(this.value); // "this" is the current element in the loop
            });
            id = arr[0];
            productId = arr[1];
            quantity = arr[2];

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("EditCartItemQuantity", "Cart")",
                    data: { "id": id, "productId": productId, "quantity": quantity },
                    success: function (result) {
                        $("body").html(result);
                    }
                });
        });

</script>
