@model RegisterRequestModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input type="text" asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="LastName" class="control-label"></label>
                            <input type="text" asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="fcol-md-6 mb-3">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-9">
                            <label asp-for="Address.Town" class="control-label"></label>
                            <input asp-for="Address.Town" class="form-control" />
                            <span asp-validation-for="Address.Town" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Address.Zip" class="control-label"></label>
                            <input type="text" asp-for="Address.Zip" class="form-control" />
                            <span asp-validation-for="Address.Zip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.AddressField" class="control-label"></label>
                        <input asp-for="Address.AddressField" class="form-control" />
                        <span asp-validation-for="Address.AddressField" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <input id="submit" type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
