<div class="container">
    <form asp-controller="Products" asp-action="Index" class="form-inline my-2 my-lg-0" method="get">
        <div class="input-group mb-0">
            <input style="width:300px" id="searchString" name="searchString" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button id="search-button" class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>