<form asp-controller="Products" asp-action="Index" class="form-inline my-2 my-lg-0" method="get">
    <div class="input-group mb-0">
        <input id="searchString" name="searchString" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Products/GetAllProductNames",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#searchString").keyup(function (e) {
                    $("#searchString").autocomplete({
                        source: response
                    });
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

</script>